// ==============================
// Post content
// ==============================

.post-content {
  margin-bottom: $content-margin-bottom;

  @for $i from 1 through 6 {
    h#{$i} {
      font-size: 1.3em;
      font-weight: 400;
      font-family: $global-font-family;
      margin-top: 1.2em;
    }
  }

  .headerlink {
    &:hover {
      border-bottom: 0;
    }

    &::before {
      margin-right: 5px;
      font-size: 1.1em;
      color: $theme-color;
    }
  }

  a {
    color: $theme-color;
    word-break: break-all;

    &:hover {
      border-bottom: $content-link-border;
    }

    &.fancybox {
      border: 0;
    }
  }

  blockquote {
    margin: 2em 0;
    padding-left: 10px;
    position: relative;
    color: rgba(0, 0, 0, 0.6);
    background-color: #fff;
    border-left: 2px solid #aaa;
    p {
      margin: 0;
    }
  }

  // Blockquote with all children centered.
  .blockquote-center {
    position: relative;
    margin: 40px 0;
    padding: 0;
    border-left: none;
    text-align: center;

    &::before, &::after {
      position: absolute;
      content: ' ';
      display: block;
      width: 100%;
      height: 24px;
      opacity: 0.2;
      background-repeat: no-repeat;
      background-position: 0 -6px;
      background-size: 22px 22px;
    }
    &::before {
      top: -20px;
      background-image: url(/files/quote-l.svg);
      border-top: 1px solid #ccc;
    }
    &::after {
      bottom: -20px;
      background-image: url(/files/quote-r.svg);
      border-bottom: 1px solid #ccc;
      background-position: 100% 8px;
    }

    p, div { text-align: center; }
  }

  img {
    display: inline-block;
    max-width: 100%;
  }

  > table {
    max-width: 100%;
    margin: 10px 0;
    border-spacing: 0;

    th, td {
      padding: 5px 15px;
      border: 1px double $content-table-border-color;
      text-align: left;
    }
  }

  @import 'code';

  .post-more-link {
    text-align: left;

    .btn {
      color: #555;
      font-size: 14px;
      background: 0 0;
      border-radius: 0;
      line-height: 2;
    }

    a {
      padding: 0;
      border: none;
      border-bottom: 1px solid #666;
      transition-property: border;
    }
  }
}
