// Custom styles.
.site-author-image, .posts-expand .post-body img {
	border: 0px;
}

.site-author-image {
  -webkit-transform: rotateZ(360deg) !important;
  -moz-transform: rotateZ(360deg) !important;
  transform: rotateZ(360deg) !important;
  position: relative;
  -webkit-border-radius: 60px !important;
  -moz-border-radius: 60px !important;
  border-radius: 60px !important;
  -webkit-transition: -webkit-transform 0.4s ease-out;
  -moz-transition: -moz-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  behavior: url(/css/PIE.htc);
}

/*  Comments  */
#comments {
  margin-top: 30px;
}
#ds-thread {
  clear: none !important;
  float: left;
  margin-top: 0;
  width: 100%;
}
#ds-reset li.ds-tab a, #ds-reset .ds-rounded, #ds-reset #ds-bubble {
  position: relative;
  behavior: url(/css/PIE.htc);
}
#ds-reset .ds-avatar img, .ds-avatar a img, .ds-avatar img {
  position: relative;
  -webkit-border-radius: 27px !important;
  -moz-border-radius: 27px !important;
  border-radius: 27px !important;
  -webkit-transition: -webkit-transform 0.4s ease-out;
  -moz-transition: -moz-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  behavior: url(/css/PIE.htc);
}
#ds-reset .ds-avatar img:hover, .ds-avatar a img:hover, .ds-avatar img:hover{
  -webkit-transform: rotateZ(360deg);
  -moz-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}
#ds-reset .ds-powered-by {
  display: none;
}
#ds-reset {
  font-size: 100% !important;
}
#ds-reset .ds-comment-body p {
  font-size: 100% !important;
}
.ds-recent-comments a {
  border-bottom: 0px;
}
.ds-recent-comments li a {
  line-height: normal;
  font-size: 10px;
}
.ds-recent-visitors {
  float: left;
  display: none;
}
.ds-recent-visitors .ds-avatar a img, .ds-recent-visitors .ds-avatar img {
  display: inline;
}
.ds-recent-visitors .ds-avatar a {
  border-bottom: 0px;
}

pre .highlight {
  padding: 0px;
}