#comments {
  margin-top: 30px;
  overflow: hidden;

  @media screen and (max-width: 767px) {
    margin: 0 20px;
  }
}

#ds-thread {
  clear: none !important;
  position: relative;
  overflow: visible;
  float: left;
  margin-top: 0;
  width: 100%;
  color: #555;

  #ds-reset {
    font-size: 100%;
    font-weight: normal;
    line-height: 1;
    text-align: left;

    * {
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
    }

    div, ul, ol, li, ul li, ol li, iframe, h1, h2, h3, h4, h5, h6, p, img, blockquote, a, span, pre, code, strong, sub, sup, fieldset, form, label, input, textarea, header, section, article, select {
      border: 0;
      padding: 0;
      margin: 0;
      vertical-align: baseline;
      font: inherit;
      line-height: inherit;
      background: none;
      width: auto;
      height: auto;
      float: none;
      overflow: visible;
      transition: none;
    }

    p {
      text-indent: 0;
      clear: none;
    }

    span, strong, label, input {
      display: inline;
      margin: 0;
    }

    button {
      cursor: pointer;
      margin: 0;
      padding: 0;
      border-radius: 0;
    }

    input, button {
      -webkit-border-radius: 3px;
      border-radius: 3px;
    }

    input[type=button], input[type=submit], input[type=reset], input[type=checkbox], button {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    img.ds-smiley {
      margin: 0;
      padding: 0;
      display: inline;
      border: none;
    }

    a.ds-thread-liked {
      background: #e9e9e9;
    }

    a.ds-like-thread-button {
      color: #555;
      padding: 4px 8px;
      border: 1px solid #ccc;
      border-bottom-color: #aaa;
      box-shadow: inset 0 0 1px #fff;
      margin-right: 15px;
      text-shadow: 0 1px 0 #fff;
      background-color: #e0e0e0;
      background-repeat: no-repeat;
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), color-stop(25%, #fff), to(#e0e0e0));
      background-image: -webkit-linear-gradient(#fff, #fff 25%, #e0e0e0);
      background-image: -moz-linear-gradient(top, #fff, #fff 25%, #e0e0e0);
      background-image: -ms-linear-gradient(#fff, #fff 25%, #e0e0e0);
      background-image: linear-gradient(#fff, #fff 25%, #e0e0e0);

      .ds-icon-heart {
        position: relative;
        top: -2px;
        opacity: 1;
      }

      span {
        color: #555;
      }
    }

    a.ds-comment-context {
      position: relative;
      margin: .5em 0;
      color: #fc6423 !important;

      &:hover {
        color: #e34603 !important;
      }
    }

    a {
      cursor: pointer;
      text-decoration: none;
      color: #777;
      background-color: transparent;
      -webkit-transition: color .15s linear;
      -moz-transition: color .15s linear;
      transition: color .15s linear;

      .ds-icon {
        opacity: .6;
        -webkit-transition: opacity .15s linear;
        -moz-transition: opacity .15s linear;
        transition: opacity .15s linear;
      }

      &:hover {
        color: #333;

        .ds-icon {
          opacity: 1;
        }
      }
    }

    ul, ul li {
      background: none;
      margin: 0;
      padding: 0;
    }

    ul, ol, ul li, ol li {
      list-style: none;
      display: block;
    }

    li.ds-tab a.ds-current {
      border: none;
      background: #f6f8fa;
      color: #60676d;

      &:hover {
        background-color: #e9f0f7;
        color: #60676d;
      }
    }

    li.ds-tab a {
      border-radius: 2px;
      padding: 5px;
    }

    li.ds-post-placeholder {
      text-align: center;
      color: #999;
      padding: 1em 0;
    }

    li.ds-post {
      width: 100%;
      overflow: hidden;
      clear: both;
      border-top: 1px solid rgba(0,0,0,0.13);
      margin: 0;
      padding: 0;
      list-style: none;
    }

    .ds-post-self {
      position: relative;
      padding: 10px;
      border-top: 1px solid rgba(255,255,255,0.7);

      @media screen and (max-width: 767px) {
        padding: 8px;
      }
    }

    .ds-post-delete, .ds-post-report {
      display: none;
    }

    .ds-meta {
      position: relative;
      padding: 8px 0;
      line-height: 24px;
      border-bottom: 1px solid rgba(0,0,0,0.13);
    }

    .ds-avatar {
      box-shadow: 0 1px 1px rgba(255,255,255,0.75);
      position: relative;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      background-color: #fff;
      float: left;

      img {
        position: relative;
        display: block;
        width: 50px;
        height: 50px;
        max-width: none;
        box-shadow: none;
        -webkit-border-radius: 27px;
        -moz-border-radius: 27px;
        border-radius: 27px;
        -webkit-transition: -webkit-transform 0.4s ease-out;
        -moz-transition: -moz-transform 0.4s ease-out;
        transition: transform 0.4s ease-out;
        behavior: url(/css/PIE.htc);

        @media screen and (max-width: 767px) {
          width: 30px;
          height: 30px;
        }

        &:hover{
          -webkit-transform: rotateZ(360deg);
          -moz-transform: rotateZ(360deg);
          transform: rotateZ(360deg);
        }
      }
    }

    .ds-user-name {
      color: #fc6423 !important;
      font-size: 13px;
      margin-right: 8px;

      &:hover {
        color: #e34603 !important;
      }
    }

    .ds-rounded {
      -webkit-border-radius: 3px;
      border-radius: 3px;
      position: relative;
      behavior: url(/css/PIE.htc);
    }

    .ds-rounded-top {
      -webkit-border-top-right-radius: 3px;
      -webkit-border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
    }

    #ds-bubble {
      position: relative;
      behavior: url(/css/PIE.htc);
    }

    .ds-sort {
      display: none;
    }

    .ds-icon {
      vertical-align: middle;
      display: inline-block;
      overflow: hidden;
      background: transparent url(/files/sprites.png) no-repeat;
      _background-image: url(/files/sprites.gif);
    }

    .ds-icon-heart {
      width: 14px;
      height: 13px;
      background-position: 0 -130px;
    }

    .ds-icon-reply {
      width: 18px;
      height: 13px;
      background-position: 0 -105px;
    }

    .ds-icon-like {
      width: 14px;
      height: 13px;
      background-position: 0 -117px;
    }

    .ds-icon-share {
      width: 18px;
      height: 13px;
      background-position: 0 -234px;
    }

    .ds-icon-report {
      width: 12px;
      height: 12px;
      background-position: 0 -189px;
    }

    .ds-icon-delete {
      width: 13px;
      height: 13px;
      background-position: 0 -176px;
    }

    .ds-icon-settings {
      width: 12px;
      height: 12px;
      margin: 3px 4px 0;
      opacity: 1;
    }

    .ds-thread-cancel-like {
      display: none;
    }

    .ds-highlight {
      color: #fc6423 !important;
    }

    .ds-time {
      font-size: 12px;
      margin-right: 8px;
      color: #999;
      _zoom: 1;
    }

    .ds-alert {
      margin: .5em 0;
      border: 1px solid #fbeed5;
      border-radius: 3px;
      padding: 6px 6px;
      color: #c09853;
      background-color: #fcf8e3;
      line-height: 1.5em;
      text-align: center;
    }

    .ds-comments {
      width: 100%;
      border-bottom: 1px solid rgba(0,0,0,0.13);

      &:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
      }
    }

    .ds-comments-info {
      position: relative;
      font-size: 13px;
      line-height: 25px;
      width: 100%;
      padding: 10px 0;
      margin-top: 10px;
    }

    .ds-comment-header {
      padding-top: 1px;
    }

    .ds-comment-body {
      padding-left: 60px;

      @media screen and (max-width: 767px) {
        padding-left: 38px;
      }

      a {
        color: #777;

        &:hover {
          color: #555;
        }
      }

      p {
        font-size: 13px;
        line-height: 1.5em;
        margin: .5em 0;
        word-wrap: break-word;
      }
    }

    .ds-comment-footer {
      line-height: 1.5em;

      a {
        margin: 0 6px 0 0;
        padding: 0 6px 0 0;
      }
    }

    .ds-comment-actions a {
      font-size: 12px;
      color: #999;

      .ds-icon {
        position: relative;
        top: -1px;
      }
    }

    .ds-visitor {
      float: right;
      line-height: 1.5em;
      margin-right: 6px;
    }

    .ds-toolbar {
      position: relative;
      z-index: 5;
      font-size: 12px;
      padding: 8px 0;
      width: 100%;
      clear: both;

      &:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
      }
    }

    .ds-replybox {
      width: auto;
      font-size: 12px;
      z-index: 3;
      margin: 8px 0 50px 0;
      padding: 0 0 0 70px;
      position: relative;
      _zoom: 1;

      @media screen and (max-width: 767px) {
        padding: 0 0 0 0;
      }

      .ds-avatar {
        position: absolute;
        top: 0;
        left: 0;
        padding-left: 10px;
        box-shadow: none;

        @media screen and (max-width: 767px) {
          display: none;
        }
      }

      &:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
      }
    }

    .ds-textarea-wrapper {
      position: relative;
      padding-right: 20px;
      overflow: hidden;
      background: none;
      border: 1px solid #c7d4e1;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;

      textarea {
        display: block;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 13px;
        line-height: 20px;
        border: none;
        box-shadow: none;
        -webkit-appearance: none;
        overflow: auto;
        padding: 10px;
        height: 60px;
        margin: 0;
        resize: none;
        color: #999;
        width: 100%;

        &:focus {
          color: #333;
        }
      }
    }

    textarea:focus, input:focus {
      outline: none;
    }

    .ds-post-toolbar {
      position: relative;
      width: 100%;
      box-shadow: 0 1px 0 rgba(255,255,255,0.6);
      box-sizing: border-box;
      border: 1px solid #c7d4e1;
      border-top: none;
      background: #f6f8fa;

      span, input, label, a {
        vertical-align: middle;
        width: auto;
      }

      .label-pc {
        display: inline;

        @media screen and (max-width: 400px) {
          display: none;
        }
      }

      .label-mobile {
        display: none;

        @media screen and (max-width: 400px) {
          display: inline;
        }
      }
    }

    .ds-toolbar-buttons {
      position: absolute;
      top: 11px;
      left: 6px;
    }

    .ds-toolbar-button {
      display: block;
      width: 19px !important;
      height: 19px;
      float: left;
      margin-right: 4px;
      background: transparent url(/files/sprites.png) no-repeat;
      _background-image: url(/files/sprites.gif);
      vertical-align: middle;
      opacity: .6;
      -webkit-transition: opacity .15s linear;
      -moz-transition: opacity .15s linear;
      transition: opacity .15s linear;

      &:hover {
        opacity: 1;
      }
    }

    .ds-add-emote {
      background-position: 0 -12px;

      &:hover {
        background-position: 0 -30px;
      }
    }

    .ds-add-image {
      background-position: 0 -48px;

      &:hover {
        background-position: 0 -66px;
      }
    }

    .ds-post-options {
      height: 40px;
      border: none;
      background: none;
      position: relative;
      text-align: right;
      margin-right: 100px;
      -webkit-border-bottom-left-radius: 3px;

      @media screen and (max-width: 767px) {
        margin-right: 55px !important;
      }

      > span {
        font-size: 12px;
        color: #999;
        line-height: 35px;
        padding: 0px 3px 0px 3px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    .ds-guest-comment {
      cursor: default;

      &:hover {
        color: #333;
      }
    }

    #ds-comment-count {
      margin-right: 2px !important;
    }

    .ds-reply-user {
      top: 5px;

      a {
        border-bottom: 1px solid #777;
      }
    }

    #ds-reply-user-name {
      margin-left: 2px !important;
      margin-right: 2px !important;
    }

    .ds-post-button {
      top: 4px;
      right: 5px;
      width: 90px;
      height: 30px;
      border: 1px solid #c5ced7;
      border-radius: 3px;
      background-image: linear-gradient(#fcfcfc, #fcfcfc 25%, #e6e6e6);
      background-repeat: no-repeat;
      color: #60676d;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      position: absolute;
      text-align: center;
      text-shadow: 0 1px 0 #fff;
      font-size: 14px;
      font-weight: bold;
      -webkit-transition: all .15s linear;
      -moz-transition: all .15s linear;
      transition: all .15s linear;
      box-shadow: inset 0 0 1px #fff;

      @media screen and (max-width: 767px) {
        width: 45px !important;
      }

      &:hover {
        background-position: 0 -30px;
        color: #60676d;
      }
    }

    .ds-powered-by {
      font-size: 12px;
      text-align: right;
      padding: 10px 0;
      display: none;

      a {
        color: #999;
        text-decoration: none;
      }
    }

    .ds-account-control {
      float: right;
      position: relative;
      font-size: 12px;
      cursor: pointer;
      text-align: right;
      line-height: 18px;
      padding-bottom: 3px;
      width: 75px;

      span {
        display: block;
        float: left;
        color: #999;
      }

      ul {
        display: none;
        position: absolute;
        top: 19px;
        left: 0;
        border: 1px solid #aaa;
        background: #f8f8f8;
        box-shadow: inset 0 1px 1px #fff, 0 1px 1px rgba(0,0,0,0.3);
        border-radius: 3px;
        text-align: center;

        li a {
          border-top: 1px solid #fff;
          border-bottom: 1px solid #ddd;
          display: block;
          padding: 3px 10px;
          text-shadow: 0 1px 0 #fff;
        }
      }

      &.ds-active ul {
        display: block;
      }
    }

    .ds-login-input {
      overflow: hidden !important;
    }

    .ds-input-wrapper {
      display: inline-block !important;
      width: 33.33% !important;
      position: relative !important;
      overflow: hidden !important;
      box-sizing: border-box !important;
      margin-bottom: 4px !important;

      @media screen and (max-width: 767px) {
        width: 100% !important;
      }

      &:before {
        position: absolute;
        padding-left: 10px;
        display: inline-block;
        font-size: inherit;
        text-rendering: auto;
        height: 38px;
        line-height: 38px;
        -webkit-font-smoothing: antialiased;
      }

      input[type="text"] {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 13px;
        line-height: 20px;
        padding: 2px 10px 2px 35px;
        height: 36px !important;
        width: 100%;
        border: 1px solid #c7d4e1;
        box-sizing: border-box !important;
      }
    }

    .ds-input-wrapper-name {
      float: left !important;
      padding-right: 10px !important;

      @media screen and (max-width: 767px) {
        padding-right: 0px !important;
      }
    }

    .ds-input-wrapper-email {
      float: left !important;
      padding-right: 10px !important;

      @media screen and (max-width: 767px) {
        padding-right: 0px !important;
      }
    }

    .ds-input-wrapper-homepage {
      float: right !important;

      @media screen and (max-width: 767px) {
        float: left !important;
      }
    }
  }
}

#ds-smilies-tooltip {
  border: 1px solid #aaa;
  position: absolute;
  width: 400px;
  background-color: #fff;
  z-index: 9999;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  text-shadow: 0 1px 0 #fff;
  -webkit-border-radius: 3px;
  border-radius: 3px;

  .ds-smilies-container {
    padding: 10px 5px;
    height: 140px;
    overflow-y: auto;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
    float: left;
    width: 26px;
    height: 26px;
    text-align: center;
    cursor: pointer;

    img {
      visibility: visible;
    }

    &:hover {
      position: relative;
      top: -2px;
    }
  }
}
