// ==============================
// Post footer
// =============================

.footer {
  margin-top: $footer-margin-top;
}

#colophon {
	width: 90%;
	margin: 30px auto 0;
	padding: 20px 0;
	border-top: 1px solid #e1e1e1;
    color: $dark-gray;
	font-size: 14px;
    max-width: $global-body-width;
	display: block;
    overflow: hidden;
    text-align: center;

    a {
        color: $dark-gray;
        border-bottom: 1px solid $dark-gray;
    }

    a:hover {
        color: #999;
    }

    .host-service {
        display: inline-block;

        @media screen and (max-width: 500px) {
            display: none;
        }
    }
}
