// ==============================
// Header
// ==============================

.header {
  @include clearfix;
  padding: $header-padding;
}


@include max-screen() {
  .header {
    padding: 20px 0 0;
    text-align: center;
  }
}

#masthead {
    z-index: 9;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0 0 1px rgba(0,0,0,.15);
}

.site-header-inner {
    height: $site-header-height;
    line-height: $site-header-height;
    max-width: $global-body-width;
    margin: $global-content-margin;
    width: 90%;
}

.site-title {
    text-align: left;
    display: inline-block;
    margin: $global-content-margin;
    font-weight: 400;
    font-size: $site-title-size;
    color: rgba(0, 0, 0, 0.7);
}

#nav-top {
    float: right;
    
    .nav-top-items {
        list-style: none;
        padding-left: 0px;
    	margin: 0 auto;

        .menu-item {
        	font-size: $global-font-size;
        	margin-left: 30px;
        	display: inline-block;
            a {
                color: rgba(0, 0, 0, 0.6);
            }
        }
    }
}

.colored-header {
    width: 200%;
    height: 120px;
    border-radius: 0 0 50% 50%;
    background-image: linear-gradient(to right, #42CD9B, red);
    margin-bottom: 40px;
    margin-left: -50%;

    .wrap {
        max-width: 1000px;
        width: 45%;
        margin: 0 auto;
    }
}

#clogo {
    width: 70px;
    height: 70px;
    float: left;
    position: relative;
    margin: 70px 0 0 100px;

    :before {
        content: '';
        display: inline-block;
        width: 78px;
        height: 78px;
        position: absolute;
        background: #fff;
        opacity: 0.16;
        left: -4px;
        top: -4px;
        z-index: 1;
        border-radius: 50%;
    }

    a {
        position: relative;
        z-index: 2;
    }

    img {
        border-radius: 50%;
    }
}

#blog-name {
    float: left;
    height: 43px;
    margin: 80px 0 0 25px;

    .site-title a {
        color: #fff;
    }
}

#menu {
    float: right;
    margin: 65px 0 0 0;

    li {
        float: left;
        list-style: none;
        margin-left: 20px;

        a {
            color: #fff;
        }
    }
}
