// ==============================
// Header
// ==============================
#masthead {
  z-index: 9;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0 0 1px rgba(0,0,0,.3);

  .site-header-inner {
    height: $site-header-height;
    line-height: $site-header-height;
    max-width: $global-body-width;
    margin: $global-content-margin;
    width: 90%;

    .site-logo {
      display: none;
    }

    .site-title h1 {
      text-align: left;
      display: inline-block;
      margin: $global-content-margin;
      font-weight: 400;
      font-size: $site-title-size;
      color: rgba(0, 0, 0, 0.7);
    }

    .site-menu {
      float: right;
      
      ul {
        list-style: none;
        padding-left: 0px;
        margin: 0 auto;

        li {
          font-size: $global-font-size;
          margin-left: 30px;
          display: inline-block;

          @media screen and (max-width: 767px) {
            margin-left: 15px;
          }

          a {
            color: rgba(0, 0, 0, 0.6);
          }
        }

        .menu-item-hide-on-mobile {
          display: inline-block;

          @media screen and (max-width: 500px) {
            display: none;
          }
        }
      }
    }
  }

  &.home {
    width: 200%;
    height: 120px;
    border-radius: 0 0 50% 50%;
    background-image: linear-gradient(to right, #42CD9B, red);
    margin-bottom: 40px;
    margin-left: -50%;
    box-shadow: none;

    .site-header-inner {
      width: 45%;
      padding-top: 65px;

      .site-logo {
        display: inline-block;
        width: 18%;
        float: left;
        text-align: right;

        img {
          width: 70px;
          height: 70px;
          border-radius: 50%;
          -webkit-transition: -webkit-transform 0.4s ease-out;
          -moz-transition: -moz-transform 0.4s ease-out;
          transition: transform 0.4s ease-out;
          border: 4px solid rgba(255, 255, 255, 0.16);

          &:hover {
            -webkit-transform: rotate(-45deg) !important;
            -moz-transform: rotate(-45deg) !important;
            transform: rotate(-45deg) !important;
          }
        }
      }

      .site-title {
        float: left;
        margin-left: 25px;

        a {
          color: #fff;
        }
      }

      .site-menu {
        float: right;

        a {
          color: #fff;
        }
      }
    }
  }
}