
.header { 
  background-image: url('/files/header-background.jpg');
}

.header-inner, .container .main-inner, .footer-inner {
  +mobile() { width: auto; }
}

.header-inner {
  +mobile() {
    padding: 52px 0 10px;
  }
}
