
.header { background: url("https://images.unsplash.com/photo-1495248449765-7ec3db458549?auto=format&fit=crop&w=1650&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D"); }

.header-inner, .container .main-inner, .footer-inner {
  +mobile() { width: auto; }
}
