@import "_layout.styl";
@import "_logo.styl";
@import "_menu.styl";
@import "_search.styl";

// Sidebar
// --------------------------------------------------

.site-author-image {
  display: block;
  margin: 0 auto;
  padding: 2px;
  max-width: 96px;
  height: auto;
  border: 2px solid #333
}

.links-of-author {
  padding: 0 50px;
}

.links-of-author-item {
  display: inline-block;
  width: 48%;
}

.site-overview .cc-license img {
  border: 1px solid white;
  border-radius: 4px;
}
